/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* フォーム全体のスタイル */
.form {
  max-width: 600px;
  margin: 0 auto;
}

/* ファイルフィールドのスタイル */
.form-control-file {
  margin-bottom: 10px;
}

/* ラベルのスタイル */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* コンテンツフィールドのスタイル */
.form-control {
  resize: none;
}

/* サブミットボタンのスタイル */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.title {
  text-align: center;
}